@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F0EDCF;
    --cor-terciaria: #40A2D8;
    --cor-hover: #0B60B0;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:  var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.title{
    color: var(--cor-terciaria);
}

.tudo {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 82px;
}

.tudo__conteudo {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
}

.tudo__conteudo__titulo {
    font-size: 2.25rem; 
    /* 16/n em pixels */
    font-family: var(--fonte-primaria);
}

.tudo__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.tudo_links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.tudo__links__titulo{
    font-weight: 400;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.tudo__links__link {
    background-color: transparent;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.tudo__links__link:hover{
    background-color: var(--cor-hover);
}

.tudo__imagem {
    width: 50%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 24px;
    text-align: center;
}

/* condição */
@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .tudo{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .tudo__conteudo{
        width: auto;
    }
}